<div class="contenedor-aside">
    <div class="content-aside">
        <h2>Entradas recientes</h2>
        <nav class="nav-aside">
            <ul>
                <li><a id="enlace0" href="/gorrito_oso">Gorrito con orejas de oso</a></li>
                <li><a id="enlace1" href="/crochet_en_la_calle">Crochet en las calles</a></li>
                <li><a id="enlace2" href="/patucos_crochet">Patucos a crochet</a></li>
                <li><a id="enlace3" href="/ojos_amigurumi">Ojos para amigurumis</a></li>
                <li><a id="enlace4" href="/que_aguja">Qué aguja escoger</a></li>
                <li><a id="enlace5" href="/sonajero_redondo">Sonajero con asa redonda</a></li>
            </ul>
        </nav>
    </div>
</div>