<!-- BUSCADOR DE GOOGLE    https://programmablesearchengine.google.com/controlpanel/all -->
<div id="contenedor-barra">
    <script async src="https://cse.google.com/cse.js?cx=06fe56aee442a7a6e"></script>
    <div class="gcse-search"></div>
</div>

<div id="fondo-busqueda"></div>
<!-- FIN BUSCADOR  -->
