        <!-- Cookies -->
        <div class="cookiesms" id="cookie1">
            Este sitio web usa cookies, puedes ver <a href="/cookies">la política de cookies, aquí</a> -
            <button class="btn" id="boton-cookies">Aceptar</button>
            <div class="cookies2">Política de cookies + </div>
        </div>