<!-- FOOTER + SCROLL -->

<footer>
    <div class="footer-content col-m-8">

        <div class="col-m-4 social">
            <ul>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>

        </div>
        <div class="col-m-4"> </div>
        <div class="col-m-4 privacidad">
            <button class= "btn" id="priv"><a href="/privacidad">Política de privacidad</a></button>
        </div>

    </div>
    <div class="separador"></div>

</footer>
<span class="copyright-info">©Raquel Valle Natal</span>

<!-- ICONO SCROLL -->
<div class="scroll"><img src="img/scroll.svg" alt="scroll"></div>
</div>