<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Crochetmania-Amigurumis</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <!--  fin favicon -->
    <link rel="stylesheet" href="../css/reponsive.css">
    <link rel="stylesheet" href="../css/micuenta.css">
    
</head>

<body>
    <header>
        <!-- Logo para volver a inicio -->
        <div class="logo"><a id="volver" href="/"><img src="../img/logo-mini.png" alt="Home"></a></div>
            
    </header>
    

    <!-- DIV que contiene el degradado de fondo -->
    <div class="background-animation-container">
        <div class="background-gradient"></div>
    </div>
    <main>
        <div id="cerrar">
            <h1>Hasta pronto</h1>
            <span><%= userName %></span>
            <button id="boton-cerrar"><a href="/logout">Cerrar sesión</a></button>
    
        </div>
    
    </main>
    
</body>

</html>